<!doctype html>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
    <h1>Login server</h1>
    <ul>
        {% if 'user_data' in session and not session['is_admin'] %}
        <li><span>{{ session['user_data']['firstname'] }}</span>
        <li><a href="{{ url_for('logout') }}">Log Out</a>
        <li><a href="{{ url_for('user_data') }}">User info</a>
            {% elif 'user_data' in session and session['is_admin'] %}
        <li><span>Admin</span>
        <li><a href="{{ url_for('logout') }}">Log Out</a>
        <li><a href="{{ url_for('admin_stats') }}">CA stats</a>
            {% else %}
        <li><a href="{{ url_for('login') }}">Password Login</a>
        <li><a href="{{ url_for('login_certificate') }}">Certificate Login</a>
        <li><a href="{{ url_for('login_admin') }}">Admin Login</a>
            {% endif %}
    </ul>
</nav>
<script src="../static/cryptoUtils.js"></script>
<script src="../static/sha.js"></script>
<script src="../static/forge.min.js"></script>
<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</section>