<div class="container">
  <form>
      <h2>Applied Security Lab CA</h2>
      <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-primary" [ngClass]="{'active': passwordLogin}">
              <input type="radio" name="passwordLogin" [value]="true" autocomplete="off">
              Login with Password
          </label>
          <label class="btn btn-primary" [ngClass]="{'active': !passwordLogin}">
              <input type="radio" name="passwordLogin" [value]="false" autocomplete="off">
              Login with certificate
          </label>
      </div>
      <div *ngIf="passwordLogin" class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" id="username" name="username"
                 placeholder="Your username" required>
      </div>
      <div *ngIf="passwordLogin" class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" name="password"
                 placeholder="Your password">
      </div>
      <button type="submit" (click)="onSubmit()" class="btn btn-default login-button">
          Login
      </button>
  </form>
</div>
